
#webLogo , #webLogo:hover{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    
}


.nav {
    font-weight: 900;
    margin: 2em 0 0em 0;
}

.nav a{
    text-decoration: none; 
    color: rgba(0,0,0,0.65);
}

.nav a:hover{
    color: rgba(0,0,0,1);
    font-size: 110%;
}

#backgroundShape {
    z-index: -1;
    position: absolute;
    top: -50%;
    left: 85%;
    height: 60vh;
    width: 30vw;
    border-radius: 50%;
    -webkit-filter: blur(100px);
    filter: blur(100px);
}
.logo{
    color: rgba(0, 0, 0, 0.85);
    font-size: 2.2em; 
    margin: 0px -4px 0 0px;
}

.content {
    border-radius: 6px;
    padding: 5%;
    background-color: white;
    box-shadow: 10px 10px 20px 10px rgba(83, 68, 40, 0.2);
    margin: 25px;
}

.content p {
    line-height:30px;
}

.attrEx {
    color:rgb(255, 0, 234);
}

.content iframe {
    border: 5px solid rgb(105, 28, 28);
}


  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #292929;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  } */


.navbar a{
    text-decoration: none; 
    color: rgba(0,0,0,0.65);
}

.navbar a:hover{
    color: rgba(0,0,0,1);
}

.randNumStyling {
    color: white;
    background-color: #3190cf;
    border-radius: 5%;
    border: 4px solid #2370a3;
    padding: 5px;
}




/* hero background image */
.bgimage {
    height:100vh;
    background: url('blizzcon.jpeg');
    background-size:cover;
    position:relative;
  }
  /* text css above hero image*/
  .hero_title {
    font-size: 4.5rem;
  }
  .hero_desc {
    font-size: 2rem;
  }



  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: #292929b0;
    animation:colorchange 20s infinite alternate;
      
      
    }

    @keyframes colorchange {
      0% {
        
        color: #ee7752;
      }
      
      10% {
        
        color: #e73c7e;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #23a6d5;
      }
      
      40% {
        
        color: #23d5ab;
      }
      
      50% {
        
        color: #fae276;
      }
      
      60% {
        
        color: rgb(115, 115, 245);
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
  }


  
  
  /* about section image css */
  .imageAboutPage {
    width: 100%;
  }
  
  
  
  /* services section css */
  .servicesText.card {
    height: 280px;
    cursor: pointer;
  }
  .servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
  }
  .card-title {
    text-align: center;
  }
  .card:hover .servicesIcon {
    color: #008000;
  }
  .servicesText:hover {
    border: 1px solid #008000;
  }

