/* Style the header */

.center {
    text-align: center;
}

.header {
  /*background-color: #f1f1f1;*/
  padding: 20px;
  text-align: center;
}

.nav {
    font-weight: 900;
    font-family: 'DM Sans', sans-serif; margin:0;
    margin: 2em 0 0em 0;
}

.nav a{
    text-decoration: none; 
    color: rgba(0,0,0,0.65);
    animation: examplefont 4s infinite;
}

.nav a:hover{
    color: rgba(0,0,0,1);
}

#backgroundShape {
    z-index: -1;
    position: absolute;
    top: -50%;
    left: 85%;
    height: 60vh;
    width: 30vw;
    border-radius: 50%;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    background-color:#8b53f1 ;
}

.logo{
    color: rgba(0,0,0,1) !important;
    font-size: 4em; 
    margin: -20px 1em -20px 0px;
}

.content {
    border-radius: 6px;
    padding: 5%;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: rgb(255, 189, 102);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(255, 189, 102);
  color: black;
}


.containeryou {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}







/* hero background image */
.bgimage {
  height:100vh;
  background: url('book.png');
  background-size:cover;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/* about section image css */
.imageAboutPage {
  width: 100%;
}



/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}
